@mixin font($size: null, $color: null, $weight: null, $height: null) {
    @if $size {
        font-size: $size;
    }
    @if $weight {
        font-weight: $weight;
    }
    @if $height {
        line-height: $height;
    }
    @if $color {
        color: $color;
    }
}
@mixin flexColumn($justify: null, $align: null) {
    display: flex;
    flex-direction: column;
    @if $justify {
        justify-content: $justify;
    }
    @if $align {
        align-items: $align;
    }
}
@mixin flexRow($justify: null, $align: null) {
    display: flex;
    flex-direction: row;
    @if $justify {
        justify-content: $justify;
    }
    @if $align {
        align-items: $align;
    }
}