@mixin font($size, $height, $weight: normal, $style: normal) {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  line-height: $height;
  user-select: none;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin flex($display: flex, $align-items: center, $justify-content: center) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}
