$color-card-bg: rgba(256, 256, 256, 0.3);
$color-card-border: #000000;
$color-card-text-shadow: #ffffff;

$color-main: #2563bf;
$color-inactive: #5c5c5c;
$color-text-main: #000000;
$color-text-light: #ffffff;

//sprint
$color-btn-true: green;
$color-btn-false: red;
