$color-card-bg: rgba(256, 256, 256, 0.3);
$color-card-border: #000000;
$color-card-text-shadow: #ffffff;

$color-main: #2563bf;
$color-inactive: #5c5c5c;
$color-text-main: #000000;
$color-text-light: #ffffff;
$color-placeholder: #cccccc;
$color-error-message: #ff7448;

//textbook
$color-nav-btn-1: #71B33D;
$color-nav-btn-2: #DCFF04;
$color-nav-btn-3: #ffff00;
$color-nav-btn-4: #FFCC75;
$color-nav-btn-5: #ECB1A4;
$color-nav-btn-6: #F2111E;
$color-nav-btn-7: #A10811;
$color-nav-btn-page-bg: #AC9E9E;
$color-pop-up-bg: #E0E0E0;

//sprint
$color-btn-true: green;
$color-btn-false: red;

$color-primary: #533a6c;
$color-text-logo: #f6d524;
$color-auth-button: #ff7448;
$color-light: #ffffff;
$color-dark: #000000;

$width-content: 90%;
$width-netbook: 1023px;
$width-tablet: 768px;
$width-mobile: 425px;
$width-logo: 15rem;

$height-logo: 4.5rem;
