$color-card-bg: rgba(256, 256, 256, 0.3);
$color-primary: #3C66A4;
$color-text-logo: #F6D524;
$color-auth-button: #FF7448;
$color-light: #FFFFFF;
$color-dark: #000000;

$width-content: 80%;
$width-logo: 20rem;

$height-logo: 4.5rem;
