.container {
  max-width: 80%;
  margin: auto;
}

.greet-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-wrapper {
  width: 50%;
}

.section__subtitle {
  text-align: center;

  .content-wrapper & {
    text-align: left;
  }
}

.list {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 20%;

  .about-section & {
    column-gap: 10%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__link {
  text-decoration: none;
}

.item__content {
  text-align: center;
}
