.navigator {
  @include flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  position: relative;
}

.navigator__group-button-1,
.navigator__group-button-2,
.navigator__group-button-3,
.navigator__group-button-4,
.navigator__group-button-5,
.navigator__group-button-6,
.navigator__group-button-7 {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  outline: none;
  @include flex;
  @include font(21px, 21px, 500);
  @extend %transition;
}

.navigator__group-button-1 {
  background-color: #71B33D;
}

.navigator__group-button-2 {
  background-color: #DCFF04;
}

.navigator__group-button-3 {
  background-color: #ffff00;
}

.navigator__group-button-4 {
  background-color: #FFCC75;
}

.navigator__group-button-5 {
  background-color: #ECB1A4;
}

.navigator__group-button-6 {
  background-color: #F2111E;
}

.navigator__group-button-7 {
  background-color: #A10811;
}

.navigator__group-button-text {
  @include font(17px, 17px, 400);
}

.navigator__page-button-first,
.navigator__page-button-prev,
.navigator__page-button-next,
.navigator__page-button-last {
  width: 40px;
  height: 40px;
  border-radius: 35%;
  @include font(18px, 18px, 400);
  padding: 5px;
  border: 1px solid $color-primary;
  color: $color-light;
  background-color: #ac9e9e;
  @extend %transition;

  &:disabled {
    pointer-events: none;
    border: 1px solid #ac9e9e;
    color: #ac9e9e;
    background: transparent;
  }
}

.navigator__page-current {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 35%;
  border: 1px solid #ac9e9e;
  @include font(22px, 40px, 500);
  text-align: center;
  color: $color-primary;
  margin: 0 15px;
}

.card {
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
  position: relative;
  @include flex($align-items: flex-start, $justify-content: end);
  flex-direction: column;
  gap: 10px;
  width: 23.75%;
  min-height: 400px;
  border: 1px solid $color-dark;
  @include font(15px, 20px, 400);

  @media (max-width: 1600px) {
    width: 31.67%;
  }

  @media (max-width: 1200px) {
    width: 47.5%;
  }

  @media (max-width: 800px) {
    width: 95%;
  }
}

.card__wrapper {
  width: 100%;
  height: 100%;
  @include flex($align-items: start, $justify-content: space-between);
  flex-direction: column;
  gap: 5px;
  margin-top: 100px;
  padding: 20px;
  background: linear-gradient(transparent, #e0e0e0);
  border-radius: 10px;
}

.card__listen-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.card__image {
  border-radius: 10px;
}

.card__word,
.card__transcription,
.card__word-translate,
.card__text-meaning,
.card__text-meaning-translate,
.card__text-example,
.card__text-example-translate {
  margin: 0;
  text-shadow: 0 0 5px $color-light;
}

.card__word {
  @include font(27px, 27px, 700);
  margin-bottom: 15px;
}

.card__transcription {
  margin-left: 40px;
}

.card__text-meaning,
.card__text-example {
  @include font(17px, 17px, 700);
}

.card__text-meaning-translate,
.card__text-example-translate {
  @include font(15px, 15px, 700, $style: italic);
}

.card__buttons-wrapper {
  @include flex;
  gap: 20px;
  width: 100%;
}


//styles

.navigator__groups,
.navigator__pages {
  width: 100%;
  @include flex;
  gap: 30px;
}

.navigator__group-button_active {
  border: 1px solid $color-dark;
}

.navigator__pages {
  gap: 10px;
}

.navigator__page-current_show-medal {
  background-image: url(../assets/svg/medal-purple.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 90%;
}

.navigator__links {
  position: absolute;
  top: -5px;
  right: 0;
}

.navigator__links .dropdown-menu {
  margin-top: 0;
  display: block;
}

.navigator__links .dropdown-menu__item {
  padding: 0.5rem 2rem;
}

.navigator__links .dropdown-menu__link::after {
  top: 1.5rem;
}

.cards {
  @include flex($align-items: normal);
  flex-wrap: wrap;
  gap: 20px;
  min-height: 100vh;
  margin-bottom: 20px;
}

.card__transcription,
.card__word-translate {
  @include font(20px, 20px, 700);
}

.card__image {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: no-repeat center;
  background-size: cover;
}

.card__listen-button,
.card__difficult-button,
.card__learned-button,
.card__statistic-button {
  width: 35px;
  height: 35px;
  background: transparent no-repeat center;
  background-size: cover;
  border: none;
  cursor: pointer;
  position: relative;
  &:hover {
    transform: scale(1.04);
  }
}

.card__listen-button {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent url(../assets/svg/listen.svg) no-repeat center;

  &:hover {
    transform: scale(1.04);
  }
}

.card__difficult-button {
  background-image: url(../assets/svg/difficult.svg);
}

.card__learned-button {
  background-image: url(../assets/svg/learned.svg);
}

.card__statistic-button {
  background-image: url(../assets/svg/statistic.svg);
}

.card__difficult-button-plus,
.card__difficult-button-plus_remove,
.card__learned-button-plus,
.card__learned-button-plus_remove {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  background: transparent url(../assets/svg/plus-green.svg) no-repeat center;
  background-size: cover;
  border: none;
}

.card__difficult-button-plus_remove,
.card__learned-button-plus_remove {
  background-image: url(../assets/svg/minus-red.svg);
}

.black-out {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.pop-up {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 20px;
  background-color: #e0e0e0;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
}

.pop-up__close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  border: none;
  background: url(../assets/svg/cross.svg) no-repeat center center;
  cursor: pointer;
}

.pop-up__table {
  width: 100%;
  border-spacing: 0;
}

.pop-up__table th,
.pop-up__table td {
  border-bottom: 1px solid $color-dark;
}
