button {
  cursor: pointer;
}

.navigator {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto 20px;
  gap: 10px;
}

.navigator__groups,
.navigator__pages {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.navigator__group-button_active {
  border: 3px solid $color-card-border;
}

.navigator__pages {
  gap: 10px;
}

.navigator__page-current {
  display: block;
  width: 30px;
  border: 1px solid $color-card-border;
  padding: 0 5px;
}

.navigator__page-current_show-medal {
  background-image: url(../assets/svg/medal-purple.svg);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 90%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  align-content: flex-start;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 23.75%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid $color-card-border;
  background-color: $color-card-bg;
  font-size: 1.5rem;

  @media (max-width: 1600px) {
    width: 31.67%;
  }

  @media (max-width: 1200px) {
    width: 47.5%;
  }

  @media (max-width: 800px) {
    width: 95%;
  }
}

.card__word {
  font-size: 2rem;
  font-weight: bold;
}

.card__transcription,
.card__word-translate {
  font-size: 1.75rem;
  font-weight: bold;
}

.card__word,
.card__transcription,
.card__word-translate,
.card__text-meaning,
.card__text-meaning-translate,
.card__text-example,
.card__text-example-translate {
  margin: 0;
  text-shadow: 0px 0px 5px $color-card-text-shadow;
}

.card__image {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__listen-button,
.card__difficult-button,
.card__learned-button {
  z-index: 2;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
}

.card__listen-button {
  width: 50px;
  height: 50px;
  top: 60px;
  right: 40px;
  background-image: url(../assets/svg/listen.svg);
}

.card__difficult-button {
  right: 75px;
  background-image: url(../assets/svg/difficult.svg);
}

.card__learned-button {
  right: 15px;
  background-image: url(../assets/svg/learned.svg);
}

.card__difficult-button-plus,
.card__difficult-button-plus_remove,
.card__learned-button-plus,
.card__learned-button-plus_remove {
  z-index: 1;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-image: url(../assets/svg/plus-green.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
}

.card__difficult-button-plus_remove,
.card__learned-button-plus_remove {
  background-image: url(../assets/svg/minus-red.svg);
}
