.nav-menu {
  @include flex;
  @extend %reset-list;
  font-size: calc(1rem + 0.5vw);
}

.nav-menu__item,
.dropdown-menu__item {
  color: $color-light;
  padding: 10px 25px;
}

.nav-menu__link,
.dropdown-menu__link {
  color: $color-light;
  position: relative;
  text-decoration: none;

  &::after {
    @include pseudo;
    width: 0;
    height: 1px;
    top: 25px;
    background-color: $color-light;
    @extend %transition;
  }

  &:hover::after {
    width: 100%;
  }
}

.dropdown {
  cursor: pointer;

  &:hover {
    .dropdown-menu {
      display: block;
    }

    .dropdown__icon {
      transform: rotate(-180deg);
    }
  }
}

.dropdown__container {
  @include flex;
  column-gap: 10px;
}

.dropdown-menu {
  background-color: $color-primary;
  @extend %reset-list;
  padding: 10px 0;
  margin-top: 5px;
  border-radius: 18px;
  position: absolute;
  z-index: 1;
  display: none;
}

.dropdown__icon {
  @extend %transition;
}

@media screen and (max-width: $width-tablet) {
  .dropdown {
    position: relative;

    &:hover {
      .dropdown__icon {
        transform: rotate(-90deg);
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    right: -170px;
    top: -35px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 15px;
    font-size: 20px;
    width: 320px;
    height: 100%;
    background-color: $color-primary;
    position: absolute;
    left: -320px;
    //left: 0;
    top: 0;
    transition: .5s;
  }

  .nav-menu.active {
    left: 0;
    transition: .5s;
    overflow: auto;
  }
}
