.footer {
  background-color: $color-primary;
}

.footer__container {
  max-width: $width-content;
  margin: auto;
  @include flex($justify-content: space-between);
  padding: 2rem;
}

.footer__logo {
  width: $width-logo;
  height: $height-logo;
  fill: $color-light;
}

.footer__copyright {
  color: $color-light;
  @include font(1.9rem, 1.9rem);
}

.github-members {
  @include flex;
  column-gap: 3rem;
  @include font(1.9rem, 1.9rem);
}

.github-members__member {
  color: $color-light;
  text-decoration: none;
}
