.footer {
  background-color: $color-primary;
}

.footer__container {
  max-width: $width-content;
  margin: auto;
  @include flex($justify-content: space-between);
  padding: 20px 0;
}

.footer__logo {
  width: $width-logo;
  height: $height-logo;
  fill: $color-light;
}

.footer__copyright {
  color: $color-light;
  font-size: calc(1rem + 0.5vw);
}

.github-members {
  @include flex;
  column-gap: 20px;
  font-size: calc(1rem + 0.5vw);
}

.github-members__member {
  color: $color-light;
  text-decoration: none;
}

@media screen and (max-width: $width-tablet) {
  .footer__container {
    flex-direction: column-reverse;
    row-gap: 20px;
  }

  .footer__logo {
    width: 100px;
  }
}
