.header {
  background-color: $color-primary;
}

.header__container {
  max-width: $width-content;
  @include flex($justify-content: space-between);
  margin: auto;
  padding: 2rem;
}

.header__title {
  @include font(2.6rem, 3.2rem, 600);
  color: $color-text-logo;
  margin: 0;
}

.header__logo {
  width: $width-logo;
  height: $height-logo;
  border-radius: 50%;
  background-color: $color-light;
  text-decoration: none;
  @include flex;
  @extend %transition;

  &:hover {
    @extend %box-shadow;
  }
}

.header__nav {
  margin: 0 7rem 0 auto;
}

.header__account {
  cursor: pointer;
  border-radius: 1.8rem;
  @extend %transition;

  &:hover {
    @extend %box-shadow;
  }
}


